@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800&display=swap");
body {
  background-color: #dddddd;
  color: #444444; }

.start-button {
  background-color: white;
  text-transform: uppercase;
  padding: 14px;
  border-radius: 8px;
  border: 2px solid #eeeeee;
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 28px;
  font-family: 'Inconsolata', monospace;
  font-weight: 900;
  font-size: 2em;
  box-shadow: 0 0 20px gray;
  user-select: none;
  margin-top: 100px;
  cursor: pointer;
  outline: none;
  position: relative;
  top: 0;
  left: 0;
  min-width: 300px;
  max-width: 600px; }

.start-button:hover {
  background-color: #569c56;
  color: white;
  border-color: #569c56;
  outline: none; }

.start-button:active {
  background-color: #1cc71c;
  text-shadow: #7cf238;
  border-color: #7cf238;
  box-shadow: 0 0 20px #7cf238;
  outline: none;
  top: 2px;
  left: 1px; }

.question-body {
  background-color: white;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 8px gray;
  width: 100%;
  max-width: 740px;
  margin-top: 80px;
  padding-bottom: 40px;
  position: relative;
  transition: all 2s;
  opacity: 1;
  display: none;
  box-sizing: border-box; }

.question-number {
  position: relative;
  top: 12px;
  left: 12px;
  background-color: #4d649d;
  color: white;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 3em;
  border-radius: 50%;
  font-family: 'Volkhov', serif;
  font-weight: 900;
  margin: auto;
  display: block;
  width: 60px;
  left: -4px;
  box-shadow: 0 0 8px #4d649d; }

.question-title {
  font-family: 'Volkhov', serif;
  margin-top: 20px;
  padding-top: 20px;
  font-size: 1.8em;
  max-width: 550px;
  margin: auto;
  padding-bottom: 0px;
  margin-bottom: 20px;
  letter-spacing: -.05em; }

.stretch-center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 700px;
  text-align: center; }

.option {
  font-family: 'Inconsolata', monospace;
  background-color: #4d649d;
  padding: 14px;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  display: block;
  margin: 4px;
  border-radius: 8px;
  border: none;
  min-width: 240px;
  margin: auto;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: .09em;
  cursor: pointer;
  user-select: none; }

.option:hover {
  background-color: #3966da;
  box-shadow: 0 0 8px #3966da;
  border: none;
  outline: none; }

.option:active {
  background-color: #0d235b;
  box-shadow: 0 0 8px #0d235b;
  border: none;
  outline: none;
  text-shadow: 0 0 4px #3966da; }

button:focus {
  outline: none; }

.banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #aaaaaa;
  width: 100%;
  box-sizing: border-box;
  padding: 18px;
  font-weight: 600; }

.count-down {
  background-color: #569c56;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
  padding: 14px;
  position: fixed;
  top: 0;
  right: 200px; }

.form-button {
  font-family: 'Inconsolata', monospace;
  padding: 14px;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: .09em;
  cursor: pointer;
  user-select: none;
  background-color: #6f6f6f;
  display: block;
  margin: auto;
  margin-bottom: 12px; }

.form-button:hover {
  background-color: #4b4b4b;
  border: none;
  outline: none; }

.form-button:active {
  background-color: #292929;
  border: none;
  outline: none; }

.save {
  background-color: #199335; }

.save:hover {
  background-color: #0eb635;
  box-shadow: 0 0 8px #0eb635; }

.save:active {
  background-color: #02c62f;
  box-shadow: 0 0 8px #02c62f;
  text-shadow: 0 0 4px #0eb635; }

.score-box {
  background-color: #569c56;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
  padding: 14px;
  position: fixed;
  top: 0;
  right: 0; }

.display-answer {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  top: 0;
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
  color: white;
  display: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 2em; }

.correct-display {
  background-color: green; }

.incorrect-display {
  background-color: red; }

.final-score {
  background-color: white;
  width: 90%;
  margin: auto;
  padding: 10px;
  display: none;
  margin-top: 80px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px gray;
  padding-top: 0; }

.score-title {
  text-align: center;
  margin: auto;
  display: block;
  float: none;
  margin: 0;
  font-size: 2.4em;
  letter-spacing: -.03em;
  padding: 0;
  font-family: 'Volkhov', serif;
  padding-top: 30px; }

input {
  font-size: 2.4em;
  width: 180px;
  text-transform: uppercase;
  padding: 12px;
  font-family: 'Inconsolata', monospace;
  color: #444444;
  outline: none;
  margin-top: 4px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 900;
  background-color: #c6ffc6;
  border: 2px dashed #80ce80; }

input:focus {
  outline: none; }

input:active {
  outline: none; }

.high-scores-display {
  background-color: white;
  width: 90%;
  margin: auto;
  padding: 10px;
  display: none;
  margin-top: 80px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px gray; }

.high-scores-list {
  font-family: 'Volkhov', serif;
  border: 4px solid red;
  width: 100%;
  box-sizing: border-box; }

.initials-header {
  width: 50%;
  box-sizing: border-box;
  float: left;
  display: inline-block;
  background-color: gray;
  padding: 8px;
  border: 2px solid white;
  text-transform: uppercase;
  color: white; }

.initials-element {
  width: 50%;
  box-sizing: border-box;
  float: left;
  display: inline-block;
  background-color: #dadada;
  padding: 8px;
  border: 2px solid white;
  text-transform: uppercase;
  color: black;
  margin: 0; }

.scores-header {
  width: 50%;
  box-sizing: border-box;
  float: left;
  display: inline-block;
  background-color: gray;
  padding: 8px;
  border: 2px solid white;
  text-transform: uppercase;
  color: white; }

.scores-element {
  width: 50%;
  box-sizing: border-box;
  float: left;
  display: inline-block;
  background-color: #dadada;
  padding: 8px;
  border: 2px solid white;
  text-transform: uppercase;
  color: black;
  margin: 0; }

.initials-element-winner {
  background-color: #c6ffc6; }

@media screen and (min-width: 640px) {
  .question-title {
    font-family: 'Volkhov', serif;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 1.8em;
    margin: auto;
    padding-bottom: 0px;
    margin-bottom: 30px;
    letter-spacing: -.03em; }

  .high-scores-display {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%; }

  .final-score {
    width: 80%; }

  .question-number {
    position: relative;
    display: inline-block;
    float: left;
    top: -18px;
    left: 12px;
    max-width: 60px;
    max-height: 80px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 2em;
    border-radius: 50%;
    font-weight: 900;
    width: 60px;
    margin-right: 20px;
    margin-top: 30px; } }

/*# sourceMappingURL=style.css.map */
